* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #38bdf8;
  --color-secondary: #6d28d9;
  --color-tertiary: #4c1d95;
  --color-quaternary: #d1d5db;
  --color-quinary: #262626;
  --color-senary: #c8ced6;
  --color-septenary: #fff;
}